

/* start header */
.navbar-expand-lg {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}

.head .navbar .navbar-brand {
  font-size: 28px;
  line-height: 42px;
  letter-spacing: normal;
  color: #FF5733;
  font-family: 'Source Serif Pro', serif;
  letter-spacing: 1px;
  cursor: pointer;
}

.head .navbar .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #FF5733;
}

.head .navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  cursor: pointer;
  transition: 0.7s;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.head .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #FF5733;
  border-radius: 30px;
}

.head .navbar-light .navbar-nav .nav-item a.active {
  color: #FF5733;
}

/* end header */
